@import "less/mixins.less";

@green: #64a32f;
@light: #fcfff9;

body{
    overflow-x: hidden;
    h2{
        font-weight: 600;
        padding-bottom: 5px;
    }
    p{
        padding-right: 5px;
    }
}

.ribbon{
    background: darken(@green, 5%);
    height: 8px;
}

.bottom-ribbon{
    background: darken(@green, 15%);
    height: 8px;
}

.green{
    #gradient > .vertical(@green, darken(@green, 10%));
    .row{
        height: 450px;
        position: relative;
        h1{
            color: #fff;
            font-size: 92px;
            font-weight: 300;
            line-height: .9em;
            margin-top: 125px;
            text-shadow: 1px 1px 3px darken(@green, 8%);
        }
        img{
            bottom: 0;
            position: absolute;
        }
    }
    .tagline{
        color: #f7faf4;
        font-size: 24px;
        font-weight: 300;
        margin-top: 32px;
        text-shadow: 1px 1px 1px darken(@green, 15%);
    }
    .gradient{
        #gradient > .vertical(darken(@green, 10%), darken(@green, 15%));
        height: 10px;
        margin-top: -10px;
        z-index: 500;
    }
}

.features{
    #gradient > .vertical(#333, #111);
    color: @light;
    padding: 50px 0;
    text-shadow: 1px 1px 2px #111;
}

.messages{
    #gradient > .vertical(@light, #fff);
    padding: 25px 0 50px;
    .row{
        margin-top: 25px;
    }
    h2{
        line-height: 28px;
    }
}

footer{
    #gradient > .vertical(@green, darken(@green, 10%));
    border-top: 1px solid darken(@green, 5%);
    padding: 50px 0;
    position: relative;
    img{
        display: block;
        margin: 0 auto;
        max-width: 300px;
    }
    .gradient{
        #gradient > .vertical(darken(@green, 5%), @green);
        height: 10px;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

/*
 * Tablet
 */
@media (max-width: 979px) and (min-width: 768px){
    .green{
        .row{
            height: 350px;
            h1{
                font-size: 76px;
                margin-top: 75px;
            }
            img{
                width: 350px;
            }
        }
        .tagline{
            font-size: 24px;
            margin-top: 32px;
        }
    }
    footer{
        img{
            max-width: 200px;
        }
    }
}

@media (max-width: 480px) {
    body{
        padding: 0;
        .row{
            margin: 0 auto;
            width: 96%;
        }
        h2{
            padding-top: 25px;
        }
    }
    .green .row{
        height: 350px;
    }
    .features{
        padding: 0 0 25px;
    }
    .messages, footer{
        padding: 25px 0;
    }
    footer img{
        max-width: 200px;
    }
}

@media (max-width: 787px) {
    body{
        padding: 0;
        .row{
            margin: 0 auto;
            width: 96%;
        }
        h2{
            padding-top: 25px;
        }
    }
    .features{
        padding: 0 0 25px;
    }
    .messages, footer{
        padding: 25px 0;
    }
    footer img{
        max-width: 200px;
    }
}

/*
 * Large desktop
 */
@media (min-width: 1200px) {
    .green{
        #gradient > .vertical(@green, darken(@green, 10%));
        .row{
            height: 475px;
            h1{
                font-size: 104px;
            }
        }
        .tagline{
            font-size: 28px;
            margin-top: 36px;
        }
    }
    h2{
        font-size: 27px;
    }
    p{
        font-size: 14px;
        line-height: 20px;
    }
}
