@import "less/mixins.less";

@green: #64a32f;
@light: #f7faf4;

body{
    overflow-x: hidden;
    h2{
        padding-bottom: 5px;
    }
    p{
        padding-right: 5px;
    }
}

.ribbon{
    background: darken(@green, 5%);
    height: 6px;
}

.bottom-ribbon{
    background: darken(@green, 15%);
    height: 6px;
}

.green{
    #gradient > .vertical(@green, darken(@green, 10%));
    .row{
        height: 450px;
        position: relative;
        h1{
            color: #fff;
            font-size: 88px;
            line-height: .9em;
            margin-top: 125px;
            text-shadow: 1px 1px 3px darken(@green, 8%);
        }
        img{
            bottom: 0;
            position: absolute;
        }
    }
    .tagline{
        color: @light;
        font-size: 24px;
        font-weight: 300;
        margin-top: 32px;
        text-shadow: 1px 1px 1px darken(@green, 15%);
    }
    .gradient{
        #gradient > .vertical(darken(@green, 10%), darken(@green, 15%));
        height: 10px;
        margin-top: -10px;
        z-index: 500;
    }
}

.features{
    #gradient > .vertical(#333, #111);
    color: #fcfff9;
    padding: 50px 0;
    text-shadow: 1px 1px 2px #111;
}

.messages{
    #gradient > .vertical(@light, #fff);
    padding: 25px 0 50px;
    .row{
        margin-top: 25px;
    }
    h2{
        line-height: 28px;
    }
}

footer{
    #gradient > .vertical(@green, darken(@green, 10%));
    border-top: 1px solid darken(@green, 5%);
    padding: 50px 0;
    img{
        display: block;
        margin: 0 auto;
        max-width: 300px;
    }
}
